{% extends 'base.html' %}

{% load static %}
{% load progress_filter %}
{% load circle_class_type %}
{% load filter_by_to_label %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Alert messages -->
        {% include 'alert-message.html' %}

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form id="search-project-form" method="get" action="{% url 'project:projects' %}" class="hidden">
                        <input type="hidden" name="view_option" value="{{view_option}}">
                    </form>
                    <div class="d-flex flex-wrap gap-3 align-items-center justify-content-between breadcrumb-content">
                        <!-- Search bar -->
                        <div class="input-group col-6 px-0">
                            <input class="form-control border-end-0 border" name="search" value="{{search_query}}"
                                type="search" placeholder="Enter the project name" form="search-project-form">
                            <span class="input-group-append">
                                <button
                                    class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                                    type="submit" form="search-project-form">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- End search bar -->

                        <!-- Filter option, view options, New project button -->
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="dropdown status-dropdown mr-3">
                                <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown">
                                    <div class="btn bg-body">
                                        <span class="h6">
                                            Filter by :
                                        </span> 
                                        {{filter_by|filter_by_to_label}}<i class="ri-arrow-down-s-line ml-2 mr-0"></i>
                                    </div>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03">
                                    <a class="dropdown-item" href="?search={{ search_query }}&filter_by=all&view_option={{view_option}}">
                                        <i class="fas fa-folder mr-2"></i>All projects
                                    </a>
                                    <a class="dropdown-item" href="?search={{ search_query }}&filter_by=participated&view_option={{view_option}}">
                                        <i class="fas fa-tasks mr-2"></i>Participated projects
                                    </a>
                                    <a class="dropdown-item" href="?search={{ search_query }}&filter_by=mine&view_option={{view_option}}">
                                        <i class="ri-attachment-line mr-2"></i>My projects
                                    </a>
                                </div>
                            </div>
                            
                            <div class="list-grid-toggle d-flex align-items-center mr-3">
                                <!-- Grid option button -->
                                <div id="grid-option-btn" data-toggle-extra="tab" data-target-extra="#grid" 
                                    class="{% if view_option == 'grid' %} active {% endif %}">
                                    <div class="grid-icon mr-3">
                                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <rect x="3" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="14" width="7" height="7"></rect>
                                            <rect x="3" y="14" width="7" height="7"></rect>
                                        </svg>
                                    </div>
                                </div>
                                <!-- List option button -->
                                <div id="list-option-btn" data-toggle-extra="tab" data-target-extra="#list"
                                    class="{% if view_option == 'list' %} active {% endif %}">
                                    <div class="grid-icon">
                                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <line x1="21" y1="10" x2="3" y2="10"></line>
                                            <line x1="21" y1="6" x2="3" y2="6"></line>
                                            <line x1="21" y1="14" x2="3" y2="14"></line>
                                            <line x1="21" y1="18" x2="3" y2="18"></line>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-3 border-left btn-new">
                                <a href="#" class="btn btn-primary" data-target="#new-project-modal" data-toggle="modal"
                                    id="open-create-project-modal">New Project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if view_option == 'grid' %}
    <!-- Display in grid view -->
    <div id="grid" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
        <div class="row">
            {% for project in page.object_list %}
            <div class="col-lg-4 col-md-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            {% with progress=project|progress %}
                            <div id="circle-progress-{{project.id}}"
                                class="circle-progress circle-progress circle-progress-{{progress|circle_class_type}}"
                                data-min-value="0" data-max-value="100" data-value="{{progress}}" data-type="percent">
                            </div>
                            {% endwith %}
                            <i class="ri-star-fill m-0 text-warning"></i>
                        </div>
                        <a href="{% url 'project:project' project.id %}" style="text-decoration: none; color: #140F49;">
                            <h5 class="mb-1">{{project.name}}</h5>
                            <p class="mb-3">{{project.description}}</p>
                        </a>

                        <div class="d-flex align-items-center justify-content-between pt-3 border-top">
                            <div class="iq-media-group">
                                {% for employee in project.participants.all %}
                                <a href="#" class="iq-media">
                                    <img class="img-fluid avatar-40 rounded-circle"
                                        src="{% if employee.avatar %}{{ employee.avatar.url }}{% else %}{% static 'media/avatars/default.jpg' %}{% endif %}" alt="">
                                </a>
                                {% endfor %}
                                
                            </div>
                            <a class="btn btn-white text-primary link-shadow">High</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <!-- Display in list view -->
    <div id="list" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
        <div class="row">
            {% for project in page.object_list %}
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center">
                                    {% with progress=project|progress %}
                                    <div id="circle-progress-list-{{project.id}}"
                                        class="circle-progress-01 circle-progress circle-progress-{{progress|circle_class_type}}"
                                        data-min-value="0" data-max-value="100" data-value="{{progress}}"
                                        data-type="percent"></div>
                                    {% endwith %}

                                    <a href="{% url 'project:project' project.id %}" class="ml-3"
                                        style="text-decoration: none; color: #140F49;">
                                        <h5 class="mb-1">{{project.name}}</h5>
                                        <p class="mb-0">{{project.description|truncatechars:50}}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 text-sm-right mt-3 mt-sm-0">
                                <div class="iq-media-group">
                                    {% for employee in project.participants.all %}
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                            src="{% if employee.avatar %}{{ employee.avatar.url }}{% else %}{% static 'media/avatars/default.jpg' %}{% endif %}" alt="">
                                    </a>
                                    {% endfor %}
                                </div>
                                <a class="btn btn-white text-primary link-shadow">High</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Pagination -->
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&search={{ search_query }}&filter_by={{filter_by}}&view_option={{view_option}}" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}&search={{ search_query }}&filter_by={{filter_by}}&view_option={{view_option}}" aria-label="Previous">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}
            {% for num in page.paginator.page_range %}
                {% if page.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}&search={{ search_query }}&filter_by={{filter_by}}&view_option={{view_option}}">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}&search={{ search_query }}&filter_by={{filter_by}}&view_option={{view_option}}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}&search={{ search_query }}&filter_by={{filter_by}}&view_option={{view_option}}" aria-label="Next">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.paginator.num_pages }}&search={{ search_query }}&filter_by={{filter_by}}&view_option={{view_option}}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

<a id="link-grid" class="hidden" href="?page={{page.number}}&search={{search_query}}&filter_by={{filter_by}}&view_option=grid"></a>
<a id="link-list" class="hidden" href="?page={{page.number}}&search={{search_query}}&filter_by={{filter_by}}&view_option=list"></a>

<script>
    document.addEventListener('DOMContentLoaded', (e) => {
        let gridOptionBtn = document.getElementById('grid-option-btn');
        let listOptionBtn = document.getElementById('list-option-btn');

        gridOptionBtn.addEventListener('click', (e) => {
            document.getElementById('link-grid').click();
        });

        listOptionBtn.addEventListener('click', (e) => {
            document.getElementById('link-list').click();
        });
    });
</script>
<!-- Create new project Modal -->
{% include 'project/create-project-modal.html' %}

{% endblock content %}