<div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="create-invitation-modal">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-block text-center pb-3 border-bttom">
                <h3 class="modal-title" id="">New Invitation</h3>
            </div>
            <div class="modal-body">
                <form id="invitation-form" method="POST" action="{% url 'invitation:send_invitation' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Send Invitation To</label>
                                <input type="text" class="form-control" id="invited_user" name="invited_user"
                                       placeholder="Employee's name">
                                {% if form.invited_user.errors %}
                                <p class="error">{{ form.invited_user.errors }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Project</label>
                                <input type="text" class="form-control" id="project_name" name="project_name"
                                       placeholder="Project's name">
                                {% if form.project.errors %}
                                <p class="error">{{ form.project.errors }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText04" class="h5">Message</label>
                                <input type="text" class="form-control" id="message" name="message"
                                       placeholder="Message...">
                                {% if form.message.errors %}
                                <p class="error">{{ form.message.errors }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                <button type="submit" class="btn btn-primary mr-3">Send</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>