{% if messages %}
<div class="col-12">
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert alert-success" role="alert">
            <div class="iq-alert-text">{{message}}</div>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            <div class="iq-alert-text">{{message}}</div>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            <div class="iq-alert-text">{{message}}</div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}